*{
  text-decoration: none;
}

.img-catalogo{
  height: 250px;
  width: 100%;
}

.img-catalogo-detalle{
  height: 480px;
  width: 100%;
}

.img-catalogo-formulario{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
}
